* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin-top: 20px;
}
  

input {
    outline: none;
    margin: 10px;
    background-color: rgb(201, 168, 109);
  }



button {
    
    background-color: rgb(141, 103, 143);
    margin: 10px;
}


ul {
    width: 500px;
}


li {
    width: 100px;
    height: 50px;
    list-style: none;
}